.App {
  text-align: center;
}
.card {
  display: flex;
}
.card-body {
  background-color: rgb(202, 201, 201);
  border: 2px solid;
  margin-top: 0.1cm;
  color: black;
  padding-right: 0.3cm;
  padding-left: 0.1cm;
}
.input {
  height: 0.8cm;
  font-size: large;
  margin-bottom: 2cm;
}

@media (max-width: 700px) {
  .input {
    width: 8cm;
  }
}
